<p>
  <b>Nome:</b>
  <%=h @pessoa.nome %>
</p>

<p>
  <b>Email:</b>
  <%=h @pessoa.email %>
</p>

<p>
  <b>Fone:</b>
  <%=h @pessoa.fone %>
</p>

<p>
  <b>Blog:</b>
  <%=h @pessoa.blog %>
</p>


<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
